// ==========================================================================
// TABLE OF CONTENTS:
// ==========================================================================
//
// # Header
// 		# Title + description
// 		# Navbar
// # Wrapper
// # Content
// # Sidebar and Widgets
// # Components
// 		# Fancy skip link
// 		# Pagination
// 		# Comments
// # Footer
//

// ==========================================================================
// Header
// ==========================================================================

// masonry
// *, *:before, *:after {box-sizing:  border-box !important;}

.googlemaps {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.googlemaps iframe,
.googlemaps object,
.googlemaps embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.masonry-container {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
    position: relative!important;

     display: inline-block;
     padding:  8px 0px;
     width:  100%; 
}

.well {
    padding: 2px 0 !important;
    background-color: transparent!important;
    padding: 0!important;
    margin:0!important;
     position:relative;
     display: block;
}
img.attachment-blog{
        width: 100%;
        height: auto;
    }

// masonry

body{
    font-family: 'Alegreya Sans', sans-serif;
}
#header {
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;
        background: #000;


    //
    // Navbar
    //
    #main-navigation {
        margin: 0px 0;
    }
    //
    // Title, description and image
    //
    .page-header {
        margin: 20px 0 20px;
        .site-title {}
        .site-description {
            font-size: 16px;
            font-style: italic;
        }
    }
}

// ==========================================================================
// Wrapper
// ==========================================================================
#wrapper {
    position: relative;
    z-index: 99;
}

// ==========================================================================
// Content
// ==========================================================================
#content {}

//
// Home
//
 a:hover{
        text-decoration:none;
    }
.home {
    #content {
        .your-message textarea{
            height: 135px;
        }
        .post {
            margin-bottom: 40px;
            &.sticky {
                padding: 0 20px 20px;
                border: 1px dashed $brand-info;
            }
        }
    }
}
//
//seções da front-page
//
.home{
   .interno {
        max-width:1200px;
        margin:0 auto;
        margin: 0 auto;
        padding-bottom: 145px;
        padding-right: 65px;
        padding-top: 10px;
    }
        
    .secao-front{
        background-color: transparent;
        min-height: 100vh;
        min-height: calc(100vh - 50px);
        background-attachment:fixed;
        background-size: cover;
        background-position:center;
        position: relative;
        

    }
    #inicio{
        background-image: url("../images/abertura.png");
        min-height: 100vh;
        min-height: calc(100vh );
        min-height: -webkit-calc(100vh);
        min-height: -moz-calc(100vh );
    }
    #piano{
            background-image: url("../images/piano.jpg");

    }
    #sound-trilha{
        padding-top: 80px;

        height: 77vw;
        #conteudo-sound-trilha.fechado{
            height:0px   
        }
        #conteudo-sound-trilha.aberto{
            height:initial;
        }
        .trabalho{
             > img{
                width: 100%;
                display: inline-block;
            }
            img{
                position:absolute;
                top:0;
                z-index: 99;
            }
            a img{
               z-index: 999;
            }
        }
        #trilhas{
            > img{
                -ms-transform: translate(0, -28.5%); /* IE 9 */
                -webkit-transform: translate(0, -28.5%); /* Safari */
                transform: translate(0, -28.5%);
                // transform: translateY(-28.5%);
            }
            a img{
                right: 14%;
                 top: 17%;
            }
        
        }
        #soundart{
            a img{
                top: 46%;
                left: 3%;
                    width: 30vw;

            }
        }
    }
    #conteudo-trabalhos{
        z-index: 999;
        padding-top: 35vw;
        background-image: url('../images/fundo-transicao.jpg');
        z-index: 98;
        position: relative;
        text-align: right;
        height: initial;
        min-height: 110vh;
        img{
            max-width: 350px;
        }
        h2{
            font-size:45px;
        }
        a{
            color:#000;
        }


    }
    .interno{
        min-height: 450px;
        #slider-trabalhos{
            max-width: 400px;
            float: right;
            .owl-page{
                span{
                        height: 10px;
                        width: 10px;
                        background: #C2C0C0;
                        content: "";
                        margin: 0 5px;
                        text-align: right;
                        float: right;
                        display: block;
                        border-radius: 1000px;
                }
            }
            .owl-page.active{
                span{
                    background: #000;

                }
            }
        }
    }
    #link-ancora{
        display: none;
    }
    #loader-trabalhos{
        position: absolute;
        display: none;
        right: 200px;
        bottom: 160px;
        background-color: rgba(0, 0, 0, 0.48);
        text-align: center;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100vw;
        img{
            position: absolute;
            top: 50vh;
            left: 50vw;
        }
    }

    #ancora{
        position: absolute;
        bottom: 95vh;
    }
    #ritaleena{
        // height: auto;
        border-top: 12px solid #EB1C22;
        border-bottom: 12px solid #EB1C22;
        canvas{
            position: absolute;
        }
        #release{
            display: none;
            max-width: 900px;
            margin: 0 auto;
            font-size: 21px;
            padding: 50px 0;
        }
        .img-release{
            text-align: center;
            position: relative;
            max-width: 600px;
            width: 25vw;
            margin: 18vh auto 0px;
            img{
                width:100%;
            }   
            .fotos-release-texto{
                display: inline-block;
                text-transform: uppercase;
                margin: 30px 20px;
                font-size: 23px;
                a{
                    color: #211C1E;

                }
            }
        }
    }
    #contato{
        min-height: 100vh;
        height: initial;
        -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.74);
        -moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.74);
        box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.74);
        z-index: 99;
        background-image: url('../images/fundo-contato.jpg');
        background-attachment: scroll;
        // top:-22vw;
        padding-top: 20px;
        .titulo-contato{
            margin:0 auto;
            display: block;
        }

        #interno-contato{
            margin: 0px auto;
            display: block;
            #form-contato{
                input,textarea{
                        border: solid 2px #000;
                        border-radius:10px;
                        color:#000;
                        background-color: rgba(255, 255, 255, 0.34);
                        padding:10px;
                    }
                form{
                    display: inline-block;

                }
                text-align: center;
                p{
                    text-align: left;
                }
            }
            #socials-contato{
                #facebook-feed{
                    padding-left: 30px;
                    .social-link {
                    display: inline-block;

                    }
                    .social-link-image {
                        img{
                            border-radius:100px;
                            width:100px;
                            border: solid 5px #006738;
                        }
                        z-index: 99;
                    }
                    .link-facebook{
                        margin:10px 10px 0;
                    }
                    
            
                    .social-link-text {
                        border: solid 2px #000;
                        border-radius:10px;
                        color:#000;
                        padding:20px;
                        width: initial;
                        margin:20px;
                        background-color: rgba(255, 255, 255, 0.34);
                        top: -50px;
                        left: 36px; 
                        max-width: 433px;
                   
                    }
                    .owl-item:nth-child(2){
                         .social-link-text {
                            top: -57px;
                            left: -47px;
                        }
                         .social-link img, .social-link {
                           float:right;
                         }                
                    }
                }
                
            }
        

        }
    }
    #linda{
        .interno{
            padding-bottom: 10px;
        }
        height: initial;
        font-size: 20px;
        padding:30px 45px;
        a{
            color: #89C9A4;

        }
        a:hover{
            color: #CBCFD9;
        }
        .linda-post{
            font-size:18px;
            margin-top: 30px;
            img{
                margin-bottom: 20px;
            }
        }
        #img-linda{
            position: absolute;
            right: 20px;
            top: -20vh;
            z-index: 999;
            width: 40vw;

        }
    }
    #pianos{
        font-family: 'Roboto', sans-serif;
        // background-position-y: 148px;
        background-size:contain; 
        background-image: url('../images/fundo-piano.png');
        background-repeat: no-repeat;
        background-attachment: initial;
        h1{
            font-size: 8vw;
            font-weight: 300;
            margin-right: 11vw;
            text-transform: capitalize;
        }
        h2:first-of-type{
            margin-right: 7vw;

        }
        h2{
            font-size:4vw;

            color: #C93C65;
        }
        h1,h2{
            text-align: right;
            margin-bottom: 0;
            margin-top: 0;
        }
        .texto-pianos{
            margin-top:20px;     
            p{
            font-family: 'Special Elite', cursive;
            font-size: 24px;
            background: rgba(255, 255, 255, 0.54);
            } 
   
        }
        a:hover, a:focus{
            opacity: 0.8;
            text-decoration: none;
        }
        .ver-piano{
            font-size: 35px;
            text-align: right;
            margin-top: 52px;
            a{
                color: #C93C65;
            }
            
        }    
    }
    #agenda{
            background: #000;

        div.neon {
            padding: 85px 0 20px;
            text-transform: uppercase;
            font-size: 75px;
            font-family: 'Monoton', cursive;
            text-align: center;
            text-shadow: 0 0 80px white, 0 0 30px green, 0 0 6px blue;
            color: white;
        }
        .esquerda{

        }
        #eventos-container{
            .eventos-interno{
                height: 307px;
                margin: 35px 30px;
                position: absolute;
                width: 785px;
                background: #fff;
                .col-sm-6{
                    height: 307px;
                    border:solid black 2px;

                }
            }
            .evento{
                padding: 30px;
                h2{
                    margin-top:0;
                }
                .data-evento{
                    width: auto;
                    float: left;
                    margin-right: 32px;
                }
                .titulo-evento{
                    h2{
                        font-size: 25px;
                    }
                    min-height: 69px;
                    border-bottom:2px solid black; 
                }
                .conteudo-evento{
                    .texto-evento{
                       font-size: 16px;
                        padding-top: 10px;
                    }
                }
            }
            width: 845px;
            height: 380px;
            position: relative;
            margin:0 auto;
            .borda{
                position: absolute;
                 &.esquerda{
                    left:0;
                 }
                 &.direita{
                    right:0
                 }
                 &.topo{
                    top:-1px;
                    left: 30px;
                    .bola{
                        display: inline-block;

                    }
                 }
                 &.baixo{
                    left: 30px;
                    .bola{
                        
                        display: inline-block;
                    }
                    bottom:0;
                 }



                .bola:nth-child(2n){
                    animation-duration: 0.6s;
                    animation-name: pisca;
                    animation-iteration-count: infinite;
                }
                .bola:nth-child(2n+1){
                    animation-duration: 0.8s;
                    animation-name: pisca;
                    animation-iteration-count: infinite;
                }
                .bola{
                    margin:14px 7px; 
                    border-color:#fff; 
                    // box-shadow: 0 0 120px white, 0 0 80px green, 0 0 6px blue; 
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background: #fff;
                  &.fundo, &.topo{
                    display: inline-block;
                  }
                  &.esquerda{
                    float:left; 
                    display: block;
                    clear: both;   
                  } 
                  &.direita{
                    float:right;   
                    display: block;
                    clear: both; 
                  }                   
                }
            } 
        }
           
       
        
        .main:hover { 
            text-shadow: 0 0 120px white, 0 0 80px green, 0 0 6px blue; 
        }
        #sub:hover { text-shadow: 0 0 120px orangered, 0 0 40px red, 0 0 8px DarkRed; }
        .main span {
            animation: upper 1s step-end infinite;
        }
        #sub {
            text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
            color: red;
        }
        #sub span:nth-of-type(1) {
            animation: lower 4s step-end infinite;
        }
        #sub span:nth-of-type(2) {
            text-shadow: none;
            opacity:0.4;
        }
        @keyframes upper {
            0%, 22%, 64%, 70%, 100% {
                opacity:1;
                text-shadow: 0 0 80px white, 0 0 30px green, 0 0 6px blue;
            }
            20%, 63%, 65% {
                opacity:0.4;
                text-shadow: none; 
            }
        }
        @keyframes lower {
            0%, 12%, 23%, 37%, 46%, 51%, 61%, 71%, 96%, 100% {
                opacity:1; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
            }
            19%, 32%, 45%, 50%, 59%, 69%, 86% { 
                opacity:0.4; text-shadow: none; 
            }
        }
    }
    
}        
.single-trilha, .single-soundart{
    background-image: url('../images/single-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;

    #wrapper{
        background-color: rgba(255, 255, 255, 0.51);
    }
    h1{
        color: #000;
        text-align: center;
        background-color: rgba(4, 134, 55, 0.3);
        color: #000;


     }
    p{
        color: #000;
    }
    .paginacao-single{
        a{
            color:#DEDDA0;
            text-shadow: 0 0 10px #fff,0 0 1px #fff,0 0 30px #fff,0 0 40px #DEDDA0,0 0 70px #DEDDA0,0 0 80px #DEDDA0,0 0 100px #DEDDA0;

        }
        .anterior-single{
            span{
               background-image:url('../images/esquerda.png');
               background-repeat: no-repeat;
               background-position:center left;
               background-size: contain;


            }
        }
        .proximo-single{
            span{
               background-image:url('../images/direita.png');
               background-repeat: no-repeat;
               background-position:center right;
               background-size: contain;
            }
        }
    }
    
    a{
        color: #9B5889;
        
    }
    .owl-item {
        img{
        }
    }
 }
 // .single-soundart{
 //    background-image: url('../images/fundo-single-soundart.png');
 //    background-repeat: no-repeat;
 //    background-size: cover;

 //    #wrapper{
 //    background-color: rgba(216, 198, 198, 0.32);
 //    }
 //     h1{
 //        color: #1EA297;
 //        }
 //    p{
 //        color: #000;
 //      }
 //    a{
 //          color: #1EA297;
 //      }
 //    .owl-item {
 //        img{
 //            border: solid 3px #1EA297;
 //        }
        
 //    }
 //    .anterior-single{
 //        span{
 //           background-image:url('../images/ant-soundart.png')

 //        }
 //    }
 //    .proximo-single{
 //        span{
 //           background-image:url('../images/prox-soundart.png')

 //        }
 //    }
    
 // }
.single-soundart, .single-trilha{
    .paginacao-single{
        font-size: 17px;
        .anterior-single{
            float:left;
    }
        .proximo-single{
             float:right;
        }
    }
    
    .row{
        padding-top:0;
       
        h1{
            margin-bottom: 44px;
            text-align: right;
            max-width: 800px;
            margin-top: -2px;
            font-size: 28px;
            padding:10px;
            text-transform: uppercase;
            font-size: 35px!important; 
        }
        p{
            font-size:20px;
        }
        .paginacao-single{
            a {
                span{
                width: 32px;
                display: inline-block;
                height: 32px;
                margin:10px;
                vertical-align: middle;

                }
            }    
        }

    }
    .esquerda{
        padding:0 1% 0 3%
    }
    .direita{
        padding:0 3% 0 1%
    }
    .single-soundart-galeria{
        padding-bottom:60px;
    }    
   .fundo{
        // background-color: rgba(127,127,127,0.5);
        // width: calc(100vw - 15px);
        // position: absolute;
        // top: 0;
        // min-height: calc(100vh - 102px);

    }
    .entry-content{
        font-size: 20px;
    }
} 
.page-template-page-blog{
    .masonry-container{
        .item:hover .titulo-post{
            opacity: 1;
             -ms-transform: translate(0); /* IE 9 */
             -webkit-transform: translate(0); /* Safari */
            transform: translate(0);

            -webkit-transition: all  ease-out 0.5s;
        -moz-transition: all  ease-out 0.5s;
        -o-transition: all  ease-out 0.5s;
        transition: all  ease-out 0.5s;

        }
        .titulo-post{
            -webkit-transition: all  ease-out 0.5s;
        -moz-transition: all  ease-out 0.5s;
        -o-transition: all  ease-out 0.5s;
        transition: all  ease-out 0.5s;
            opacity: 0;
            position: absolute;
            bottom: 9px;
            -ms-transform: translate(0, -50%); /* IE 9 */
            -webkit-transform: translate(0, -50%); /* Safari */
            transform: translate(0, -50%);
            // transform: translateY(-50%);
            width: 84%;
            padding: 0 29px;
            text-align: center;
            color: #fff;
            background: rgba(0, 0, 0, 0.5);
            h2{
                font-size: 20px;
            }
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.single.single-post{
    a{
        color:rgba(4,134,55,0.6);
        text-decoration: none;
    }

    a:hover{
        opacity: 0.8;
    }
    
    .entry-content{
        font-size: 20px;
        .alignleft{
            margin: 1em 1em 1em 0!important;
        }
        max-width: 70vw;
        > p{
            font-size: 18px;

        }
    }
    .comment{
        border-top: 1px solid black;
        padding:10px;
        .comment-content{
            background-color: rgba(0, 0, 0, 0.09);
            padding: 8px 15px 1px;
        }
    }
}
.single, .page-template-page-blog, .page-template-page-ritaleena{
    #comments{
        .media-left{
            display: none;
        }
    }
    h1.entry-title{
        margin-bottom: 44px;
        text-align: right;
        max-width: 800px;
        margin-top: -0;
        font-size: 28px;
        padding: 10px 40px;
        text-transform: uppercase;
        background-color: rgba(4,134,55,0.3);
        color: #000;
    }
    iframe{
        margin: 0 auto;
        display: block;
    }
    .faixa-preta{
        width: 100%;
        height: 52px;
        background-color:#000;
        position:relative;
        bottom:0;
    }
    .entry-content{
        min-height: 100px;

        max-width: 1200px;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .owl-wrapper{
        margin: 0 auto;
    }
    .interno{
        max-width: 100%;
        min-height: 100vh;
        min-height: calc(100vh - 130px);

    }

    #wrapper{
        margin-top:30px;
        padding-top:20px;
        min-height: 100vh;
        min-height: calc(100vh - 102px);
        background-color: rgba(255,255,255,0.58);

    }
    .gss-info{
        width:100%;
    }
    .owl-item {
        text-align: center;
        img{
            max-width: 95%;
            margin: 0 auto;
            border: none;
            background-color:transparent;
            // border-radius: 20px;        
        }
        border:none;
        background-color: transparent;

    }
}

// ==========================================================================
// 404
// 404
// 404
// ==========================================================================

body.error404{
    .interno{
        margin-top:20px;
        min-height: 93vh;
    }
}
.page-template-page-ritaleena .masonry-container img{
    width: 100%;
    height: auto;
}
// ==========================================================================
// 404
// 404
// 404
// ==========================================================================


// ==========================================================================
// Sidebar
// ==========================================================================
#sidebar {}

// ==========================================================================
// Components
// ==========================================================================

//
// Fancy skip link
//
// Make it look a bit less "bare bones"
// Also includes focus suppression for the Chrome tabindex="-1" workaround
//
#skippy {
    display: block;
    padding: 1em;
    background-color: #f5f5f5;
    outline: 0;
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
}

#content:focus {
    outline: none;
}

//
// Pagination
//
.pagination-wrap {
    text-align: center;
    margin-top: 15px;
    .infinite-scroll & {
        display: none;
    }
}

// ==========================================================================
// Footer
// ==========================================================================

//
// Sticky footer styles
//
.front-page #footer {
   top: -22vw;
}
#footer {
    text-align: center;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    padding-top: 15px;
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 0;
}

/* Owl Carousel Bootstrap Custom CSS */

/* Header Navigation */
#header .navbar-main-navigation{
    max-width: 1200px;
    margin:0 auto;
}
#top-nav{
    border-bottom: 1px solid #e1e6dd;
    background: #FFF;
    
    -webkit-transform: translateZ(0)

}
#top-nav.navbar{
    margin-bottom: 0px;

}
#top-nav.navbar .nav{
    margin: 8px 0px;
}
    
#top-nav.navbar .nav > li > a {
    padding: 6px 12px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;

    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
#top-nav.navbar .nav > li > a.download{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#top-nav.navbar .nav > li > a.download-on{
    background-color: #ff8a3c;
    color: #ffffff;
}
#top-nav.navbar .nav > li > a.download-on:hover{
    color: #ffffff;
    background-color: #ff7920;
}
.btn-navbar span.icon-bar{
    margin-top: 0px;
}

/* Responsive Stuff */


@media (max-width: 979px) {
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    }
}
@media (max-width: 768px) {
    .navbar.navbar-fixed-top{
        position: static;
    }
    .btn.btn-navbar{
        margin: 9px 20px 9px 8px;
        padding: 10px 10px;
    }
    .nav-collapse .nav > li{
        border-top: 1px solid #e1e6dd;
        text-align: center
    }
    #header .logo{
        margin-top:40px;
        margin: 20px auto 0px;
        float: none;
        height: 150px;
    }
    #header {
        text-align: center;
        padding: 60px 0px 30px;
    }
    #header h1{
        margin: 10px 0;
    }
    #header h3{
    margin-bottom: 10px;
    width: auto;
    padding: 0px 20px;
    }
    h1 {
        font-size: 38px;
        margin: 20px 0;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 13px;
    }
    h6 {
        font-size: 12px;
    }

}


@media (max-width: 480px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
    }
    #header {
        text-align: center;
        padding: 20px 0px 20px;
    }
    #header .logo{
        margin-top:0px;
    }

}

/*
NO MORE TABLES!! ;)
*/
@media (max-width: 767px) {

    .hp-table table, .hp-table thead, .hp-table .hp-table tbody, .hp-table th, .hp-table td, .hp-table tr { 
        display: block; 
    }
    .hp-table thead tr { 
        display: none;
    }
    .hp-table tr { border: 0px solid #ccc; margin-bottom: 10px; }
    
    .hp-table td:before { 
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    .hp-table td:nth-of-type(2):before { 
        content: "Default:";
        font-weight: bold;
    }
    .hp-table td:nth-of-type(3):before { 
        content: "Type:";
        font-weight: bold;
    }
    .hp-table td:nth-of-type(4):before { 
        content: "Description:";
        font-weight: bold;
    }
}

/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x : 50%;
    -webkit-perspective-origin-y : 50%;
    -moz-perspective : 1200px;
    -moz-perspective-origin-x : 50%;
    -moz-perspective-origin-y : 50%;
    perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}



/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
@keyframes pisca {
  from {
    background-color:yellow;
  }

  to {
    background-color:black;
    
  }
}